{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- For google icons  -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
  
  <title>Login form</title>

</head>

<body>
    

    

    <!-- for background -->
    <div class="background"></div>
  
    <!-- for form container -->
    <div class="container">
    <h2>Login</h2>
    {% if msg %}
        <center>
            <h4 style="color: red;">{{msg}}</h4>
        </center>
    {% endif %}
    <form class="login-form" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        
        <div class="col-lg-12">
            <div class="form-group position-relative">
                <center><label>Select Role</label>
                <select name="role" id="" >
                    <option >Select Role</option>
                    <option>Candidate</option>
                    <option>Company</option>
                </select></center>
            </div>
        </div>


        <div class="form-item">
            <span class="material-icons-outlined">
            
            </span>
            <input type="text" name="email" id="user" placeholder="Email or Username"  required="">
        </div>

        <div class="form-item">
            <span class="material-icons-outlined">
              <i class="fa fa-lock">
            
            </span>
            <input type="password" class="form-control" name="password" id="pass" placeholder="password" required="" >
        </div>

        <div class="col-lg-12">
            <p class="float-right forgot-pass"><a href="recovery_passward.html" class="text-dark font-weight-bold">Forgot password ?</a></p>
            
        </div>

        <button type="submit">Sign</button>
        
        

        <p>Or Login Using</p>
        {% comment %} <div id="kc-social-providers" class="col-xs-12 col-sm-6 login-pf-social-section">
            <div id="social-provider-text">Or continue with</div>
            <ul class="login-pf-social list-unstyled login-pf-social-all ">
                    <li class="login-pf-social-link">
                        <a href="/auth/realms/infyspringboard/broker/google/login?client_id=portal&amp;tab_id=jlfT2o8ej3w&amp;session_code=RMw0UkKuARZkD_HDNu2Nk_jyeLd77FBjI8ZNdah5oH8" id="zocial-google" class="zocial google"> 
                            <span>Google</span></a>
                    </li>
            </ul>
        </div> {% endcomment %}

        <div class="options">
            <button class="fb">Facebook</button>
            <button class="gl">Google</button>
        </div>

        <p>New User ? <a href="{% url 'signup' %}"> Create an Account</a></p>
         
        
    </form>
  </div>
</body>

</html>