{% extends "app/base2.html" %}
{% block content %}
{% load static %}    
    <!-- Start home -->
    <section class="bg-half page-next-level" style="background: url('/static/images/bg-page-header (1).jpg') center center;"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Services</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="{% url 'index' %}" class="text-uppercase font-weight-bold">Home</a></li>
                            <li><a href="#" class="text-uppercase font-weight-bold">Pages</a></li> 
                            <li>
                                <span class="text-uppercase text-white font-weight-bold">Services</span> 
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- SERVICE START -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 pb-2">
                    <div class="services-box">
                        <div class="service-icon mb-3">
                            <i class="mdi mdi-account-multiple h1"></i>
                        </div>
                        <div class="services-desc">
                            <h5 class="mb-2"><a href="#" class="text-dark">Awesome Support</a></h5>
                            <p class="text-muted mb-0">Aenean leo ligula porttitor eu consequat vitae eleifend enim liquam lorem ante dapibus in viverra feugia hasellus viverra at metus.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 pb-2">
                    <div class="services-box">
                        <div class="service-icon mb-3">
                            <i class="mdi mdi-image-filter-tilt-shift h1"></i>
                        </div>
                        <div class="services-desc">
                            <h5 class="mb-2"><a href="#" class="text-dark">Goal Business</a></h5>
                            <p class="text-muted mb-0">Integer ante arcu accumsan a consectetuer posuere ut mauris praesent adipiscing phasellus ullamcorper ipsum rutrum nunc.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 pb-2">
                    <div class="services-box">
                        <div class="service-icon mb-3">
                            <i class="mdi mdi-ungroup h1"></i>
                        </div>
                        <div class="services-desc">
                            <h5 class="mb-2"><a href="#" class="text-dark">Branding Identity</a></h5>
                            <p class="text-muted mb-0">Donec pede justo fringilla vel aliquet at vulputate eget arcu In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 pb-2">
                    <div class="services-box">
                        <div class="service-icon mb-3">
                            <i class="mdi mdi-invert-colors h1"></i>
                        </div>
                        <div class="services-desc">
                            <h5 class="mb-2"><a href="#" class="text-dark">Solutions Business</a></h5>
                            <p class="text-muted mb-0">Vestibulum rutrum nec elementum vehicula eros quam gravida nisl id fringilla neque ante vel mi Morbi mollis tellus ac sapien.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 pb-2">
                    <div class="services-box">
                        <div class="service-icon mb-3">
                            <i class="mdi mdi-monitor h1"></i>
                        </div>
                        <div class="services-desc">
                            <h5 class="mb-2"><a href="#" class="text-dark">Digital Design</a></h5>
                            <p class="text-muted mb-0">Ut tincidunt tincidunt Etiam feugiat lorem non metus estibulum dapi nunc augue Curabitur vestibulum aliquam Praesent egestas.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 pb-2">
                    <div class="services-box">
                        <div class="service-icon mb-3">
                            <i class="mdi mdi-image-filter-center-focus h1"></i>
                        </div>
                        <div class="services-desc">
                            <h5 class="mb-2"><a href="#" class="text-dark">Dynamic Growth</a></h5>
                            <p class="text-muted mb-0">Donec pede justo fringilla vel aliquet at vulputate eget arcu In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <a href="javascript:void(0)" class="btn btn-primary">See More <i class="mdi mdi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- SERVICE END -->

    <!-- SERVICE INFORMATION START -->
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5">Service Information</h4>
                        <p class="text-muted para-desc mx-auto mb-1">Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6 mt-4 pt-2">
                            <a href="">
                                <div class="service-info-img position-relative d-block overflow-hidden">
                                    <img src="{% static '/images/services1/img-1.jpg' %}" alt="" class="img-fluid mx-auto d-block rounded">
                                    <div class="service-overlay">
                                        <div class="service-info text-center">
                                            <h6 class="mb-0 text-white shadow title">Clean Design</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-6 mt-4 pt-2">
                            <a href="">
                                <div class="service-info-img position-relative d-block overflow-hidden">
                                    <img src="{% static '/images/services1/img-2.jpg' %}" alt="" class="img-fluid mx-auto d-block rounded">
                                    <div class="service-overlay">
                                        <div class="service-info text-center">
                                            <h6 class="mb-0 text-white shadow title">Clean Design</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mt-4 pt-2">
                            <a href="">
                                <div class="service-info-img position-relative d-block overflow-hidden">
                                    <img src="{% static '/images/services1/img-3.jpg' %}" alt="" class="img-fluid mx-auto d-block rounded">
                                    <div class="service-overlay">
                                        <div class="service-info text-center">
                                            <h6 class="mb-0 text-white shadow title">Clean Design</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-6 mt-4 pt-2">
                            <a href="">
                                <div class="service-info-img position-relative d-block overflow-hidden">
                                    <img src="{% static '/images/services1/img-4.jpg' %}" alt="" class="img-fluid mx-auto d-block rounded">
                                    <div class="service-overlay">
                                        <div class="service-info text-center">
                                            <h6 class="mb-0 text-white shadow title">Clean Design</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 pt-2">
                    <p class="text-muted mb-2">Felis quis tortor malesuada pretium pellentesque auctor neque nec urna at sapien ipsum porta, auctor quis euismod aenean viverra rhoncus pede Pellentesque habitant morbi tristique.</p>
                    <div class="job-details-desc-item">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-chevron-right text-muted"></i>
                        </div>
                        <p class="text-muted mb-1">Aenean tellus metus bibendum sed posuere nunc.</p>
                    </div>

                    <div class="job-details-desc-item">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-chevron-right text-muted"></i>
                        </div>
                        <p class="text-muted mb-1">Integer ante arcu consectetuer eget posuere ut mauris.</p>
                    </div>

                    <div class="job-details-desc-item">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-chevron-right text-muted"></i>
                        </div>
                        <p class="text-muted mb-1">Donec mollis nec justo pellentesque facilisis.</p>
                    </div>

                    <div class="job-details-desc-item">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-chevron-right text-muted"></i>
                        </div>
                        <p class="text-muted mb-1">Curabitur aliquam Praesent egestas neque eu enim.</p>
                    </div>

                    <div class="job-details-desc-item">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-chevron-right text-muted"></i>
                        </div>
                        <p class="text-muted mb-0"> Praesent massa at ligula laoreet iaculis.</p>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="btn btn-primary-outline">Read More <i class="mdi mdi-chevron-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SERVICE INFORMATION END -->

{% endblock %}  
    