{% extends "app/admin/base1.html" %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">User List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'adminindex' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">User List</li>
                        </ol>
                        
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Is_Created</th>
                                            <th>Is_Updated</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Is_Created</th>
                                            <th>Is_Updated</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                    {% if alluser %}
                                    <tbody>
                                        {% for i in alluser %}
                                        <tr>
                                            <td>{{i.email}}</td>
                                            <td>{{i.role}}</td>
                                            <td>{{i.is_created}}</td>
                                            <td>{{i.is_updated}}</td>
                                            <td>
                                                <form action="{% url 'deleteuser' pk=i.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="submit" value="Delete">
                                                </form>                                           
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                
{% endblock %}
