{% extends "app/Company/base1.html" %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Job Post List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'companyindex' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Job Post List</li>
                        </ol>
                        
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Company Name</th>
                                            <th>Location</th>
                                            <th>Company Website</th>
                                            <th>Experience</th>
                                            <th>Salary Package</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Company Name</th>
                                            <th>Location</th>
                                            <th>Company Website</th>
                                            <th>Experience</th>
                                            <th>Salary Package</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                    {% if alljob %}
                                    <tbody>
                                        {% for i in alljob %}
                                        <tr>
                                            <td>{{i.jobname}}</td>
                                            <td>{{i.companyname}}</td>
                                            <td>{{i.location}}</td>
                                            <td>{{i.companywebsite}}</td>
                                            <td>{{i.experience}}</td>
                                            <td>{{i.salarypackage}}</td>
                                            <td>
                                                <form action="{% url 'companydelete' pk=i.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="submit" value="Delete">
                                                </form>                                           
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                
{% endblock %}